*,
*::before,
*::after {
  box-sizing: border-box; /* Гарантує, що padding та border включені в ширину/висоту елемента */
  margin: 0;             /* Видаляє стандартні зовнішні відступи */
  padding: 0;            /* Видаляє стандартні внутрішні відступи */
}

a {
  background-color: transparent; /* Видаляє сірий фон з посилань при натисканні в деяких браузерах */
  text-decoration: none; /* Видаляє підкреслення посилань */
  color: inherit; /* Успадковує колір від батьківського елемента */
}

ul, ol {
  list-style: none; /* Видаляє маркери списків */
}

